@font-face {
    font-family: mycursive;
    src: url(/Fonts/Dosis-Regular.ttf);
}
body{
 background-color: rgb(201, 241, 241);
 margin: 0;
 padding: 0;
}
.cloud{
    width:10%;
    animation: wiggle 4s linear infinite;

}
@keyframes wiggle {
        0%, 7% {
          transform: rotateZ(0);
        }
        15% {
          transform: rotateZ(-15deg);
        }
        20% {
          transform: rotateZ(10deg);
        }
        25% {
          transform: rotateZ(-10deg);
        }
        30% {
          transform: rotateZ(6deg);
        }
        35% {
          transform: rotateZ(-4deg);
        }
        40%, 100% {
          transform: rotateZ(0);
        }
      }

.main{
    text-align: center;
    position: relative;
    top: 50px;
}
header{
    position: fixed;
    width: 100%;
    display: inline-flex;
}

.menu{
    display: inline-flex;
    position: absolute;
    right: 5%;
}
ul{
    list-style-type: none;
    
}
ul li a{
    text-decoration: none;
    
    margin: 15px;
    font-family: sans-serif;
    color: rgb(112, 164, 164); 
}
ul li a:hover{
    color: rgb(0, 0, 0);
    /* transition: 0.9s; */
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.main-body ol li{
    list-style-type: none;
    height: 3rem;
}
@keyframes mymove {
    0%,70%{
    color: rgb(166, 202, 202);
    }
   10%,80%{
    color: rgb(155, 193, 236);
    
   }
   20%,90%{
    color: rgb(255, 127, 127);
    
   }
    30%,100%{
        color: rgb(188, 131, 131);
        
    }
    40%,0%{
        color: rgb(180, 149, 180);
        font-size: 16px;
    }
    50%,50%{
        color: rgb(177, 201, 153);
        
    }
    60%,100%{
        color: black;
        
    }
   }
.underline{
    position: relative;
  animation: mymove 5s infinite;
  overflow: hidden;
    
}
.main h1,h4{
    font-family:mycursive;
    margin: 5px;
    letter-spacing: 0.15rem;
}
h1{
    font-size: 3rem;
}
.main-body{
    margin: 2rem 1rem;
    text-align: center;
}
.main-body h1,h4{
    font-family:mycursive;
    margin: 5px;
    letter-spacing: 0.15rem;
}
.main-body p,li{
    font-family: mycursive;
}

.main-body .logos{
    margin-top: 2rem;
    width: 10%;
}
ol{
    display: inline;
}
.main-body .skill-desc{
    margin-top: 3rem;
}
.skill-row {
width: 50%;
margin: 100px auto;

text-align: left;
}
.skill-row .image1{
    float: left;
    width: 20%;
    margin-right: 20px;
}
.skill-row .image2{
    float: right;
    width: 20%;
    margin-left: 20px;
}
.skill-row .maintenance{
    margin-bottom: 30px;
}
.skill-row h3{
    font-family:mycursive;
    color: rgb(255, 0, 0);
    font-size: 26px;
}

    .skill-row p {
        line-height: 2;
        font-weight: 500;
    }
.footer h1,h4{
        font-family:mycursive;
        margin: 5px;
        letter-spacing: 0.15rem;
    }
footer .footer{
    text-align: center;

}
footer .footer ul li{
    display: inline;
}
footer .footer{
    display: inline;
}
footer .footer ul{
    padding: 0 5px;   
}
footer .footer ul li .phone{
    width: 1.4%;
}
footer .footer ul li .phone:hover{
   cursor: pointer;
   transform: scale(1.5);
}
.footer-desc{
    padding: 5px;
    margin-top: 4rem;
    background-color: rgb(23, 116, 116);
    color: white;
    
}
.footer-desc a{
    color: white;
}

 .center-btn button{
    margin-top: 40px;
    border: none;
    padding: 0px;
   
} 
.center-btn a{ 
    background-color: rgb(105, 244, 198);
   
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
    font-family: mycursive;
    text-decoration: none;
}
.center-btn a:hover{
background-color: black;
color: white;
transition: 0.3s cubic-bezier(0.52, 0.22, 0.58, 1);
}
@media (width <= 300px){
    .main-body img{
        height: 30%;
        width: 30%;
    }  
}
@media (300px < width <= 500px){
    .main-body img{
        width: 30% !important;
    }  
    .cloud{
        width:40%;
    }
    .main-body{
       margin: 7rem 0rem;
       padding: 0px 10px;
    }
    .main-body ol li{
        margin: 1rem 0;
    }
    footer .footer ul li .phone{
        width: 3.7%;
    }
    .skill-row {
        width: 100%;
        margin: 50px auto;
        text-align: center;
        }
        .skill-row .image1,.skill-row .image2 {
            float:none;
}