@font-face {
    font-family: mycursive;
    src: url(Fonts/Dosis-Regular.ttf);
}
body{
 background-color: rgb(201, 241, 241);
}
.cloud{
    animation: wiggle 4s linear infinite;

}
@keyframes wiggle {
        0%, 7% {
          transform: rotateZ(0);
        }
        15% {
          transform: rotateZ(-15deg);
        }
        20% {
          transform: rotateZ(10deg);
        }
        25% {
          transform: rotateZ(-10deg);
        }
        30% {
          transform: rotateZ(6deg);
        }
        35% {
          transform: rotateZ(-4deg);
        }
        40%, 100% {
          transform: rotateZ(0);
        }
      }
.main{
    text-align: center;
    position: relative;
    top: 30px;
}
header{
    position: fixed;
    width: 100%;
    display: inline-flex;
}

.menu{
    display: inline-flex;
    position: absolute;
    right: 5%;
}
ul{
    list-style-type: none;
    
}
ul li a{
    text-decoration: none;
    margin: 0 15px;
    font-family: sans-serif;
    color: rgb(112, 164, 164);
   
   
    
}
ul li a:hover{
    color: rgb(31, 49, 49);
    /* transition: 0.9s; */
    /* transition: 0.3s ease-in-out; */
    font-weight: 500;
}
@keyframes mymove {
     0%,70%{
    color: rgb(166, 202, 202);
    }
   10%,80%{
    color: rgb(155, 193, 236);
    
   }
   20%,90%{
    color: rgb(255, 127, 127);
    
   }
    30%,100%{
        color: rgb(188, 131, 131);
        
    }
    40%,0%{
        color: rgb(180, 149, 180);
        font-size: 16px;
    }
    50%,50%{
        color: rgb(177, 201, 153);
        
    }
    60%,100%{
        color: black;
        
    }
   }
.underline{
    position: relative;
  animation: mymove 3s infinite;
  overflow: hidden;
    
}
.main h1,h4{
    font-family:mycursive, 'Dosis', sans-serif;
    margin: 5px;
}
h1{
    font-size: 3rem;
}
.main-body{
    margin: 2rem 1rem;
    text-align: center;
}
.main-body h1,h4{
    font-family:mycursive;
    margin: 5px;
    letter-spacing: 0.15rem;
}
.main-body p,li{
    font-family: mycursive;
}
.main-body ol li{
    list-style-type: none;
    margin: 2px 0 3px  0;
    padding: 5px 0;
}
.main-body img{
    margin-top: 2rem;
    width: 10%;
}
ol{
    display: inline;
}

.footer h1,h4{
        font-family:mycursive;
        margin: 5px;
        letter-spacing: 0.15rem;
    }
footer .footer{
    text-align: center;
}
footer .footer ul li{
    display: inline;
}
footer .footer{
    display: inline;
}
footer .footer ul{
    padding: 0 5px;   
}
footer .footer ul li .phone{
    width: 1.4%;
}
footer .footer ul li .phone:hover{
   cursor: pointer;
   transform: scale(1.5);
}
footer .footer p {
    margin-top: 4rem;
}
@media (width <= 300px){
    .main-body img{
        height: 30%;
        width: 30%;
    }  
}
@media (min-width: 481px) and (max-width: 767px)) {
    .main-body img{
        height: 30%;
        width: 30%;
    }  
    .cloud{
        width:40%;
    }
    .main-body{
       margin: 7rem 0rem;
    }
    .main-body ol li{
        margin: 1rem 0;
    }
    footer .footer ul li .phone{
        width: 4.9%;
    }
}
